# Laravel core
/vendor/
/node_modules/

# Environment
.env
.env.example
.env.local
.env.testing

# Storage & Cache
/storage/*.key
/storage/*.log
/storage/*.cache
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/public/storage

# Debugging
*.log
*.sqlite
*.sqlite3
*.sql
*.bak
*.swp
.idea/
.vscode/

# System Files
.DS_Store
Thumbs.db
